<div class="page" data-ng-controller="ModalDemoController">

	<div class="row">
		<div class="col-sm-12 col-xsm-6">
			<div class="panel mini-box">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong><span class="glyphicon glyphicon-th"></span><span
							class="text-center">Jogadores Confirmado ate a data</span></strong>
					</div>
					<div class="panel-body">

						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Jogador</th>
									<th>E Goleiro</th>
									<th>Numero Jogos</th>
									<th>Numero de Gols</th>
									<th>Media %</th>
									<th>Media Gols %</th>

								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="jogadores in tirarTime  | orderBy:'jogador' | orderBy:'qntJogos' | orderBy:'qntGols'">
									<td>{{$index}}</td>
									<td>{{jogadores.jogador}}</td>
									<td>{{jogadores.goleiro == true ? 'Sim' : 'Não' }}</td>
									<td>{{jogadores.qntJogos}}</td>
									<td>{{jogadores.qntGols}}</td>
									<td>{{jogadores.mediaNota}}</td>
									<td>{{jogadores.mediaGols}}</td>
								</tr>
							</tbody>
						</table>


					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-12 col-xsm-6">
			<div class="panel mini-box">
				<div class="col-sm-4">
					<input type="number" class="form-control" data-ng-model="qntJogador"
						placeholder="Numero de jogadores por time?">
				</div>
				<div class="col-sm-7">
					<dl class="dl-horizontal">
						<dt>Opção de escolha de time</dt>
						<dd>
							<label class="ui-radio"><input name="radio1" type="radio" data-ng-model="tipoEscolha"
								value="media"><span>Por Media</span></label> <label
								class="ui-radio"><input name="radio1" type="radio"  data-ng-model="tipoEscolha"
								value="gols"><span>Por Gols</span></label> <label
								class="ui-radio"><input name="radio1" type="radio"  data-ng-model="tipoEscolha"
								value="aleatorio" checked><span>Aleatorio</span></label>
						</dd>

					</dl>
				</div>
				<div class="col-sm-1">
					<a href="javascript:void(0)" class="btn btn-primary" data-ng-click="change(tirarTime)">Tirar</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
		<div class="col-sm-{{12/list3.time.length}}"   ng-repeat="list in list3.time">
		<span> Time {{$index + 1}}</span>
		<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Jogador</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="lists in list">
									<td>{{$index + 1}}</td>
									<td>{{lists.jogador}}</td>
								</tr>
							</tbody>
						</table>
						</div>
						</div>
		<div data-ui-footer></div>
	</div>

	<script>
    $(document).ready(function() {
        $("#nav-container").removeClass("hide");
        $("#header").removeClass("hide");
    });
</script>