<div class="page" data-ng-controller="ModalDemoController">

    <div class="row">
        <div class="col-sm-12 col-xsm-6">
            <div class="panel mini-box">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><span class="text-center">Jogadores Confirmado ate a data</span></strong></div>
                    <div class="panel-body">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Jogador</th>
                                    <th>E Goleiro</th>
                                    <th>Numero Jogos</th>
                                    <th>Numero de Gols</th>
                                    <th>Media %</th>
                                    <th>Media Gols %</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-xsm-6">
            <div class="panel mini-box">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="Numero de jogadores por time?">
                    </div>
                </div>
                <div class="divider-dashed"></div>
                <dl class="dl-horizontal">
                    <dt>Opção de escolha de time</dt>
                    <dd>
                        <label class="ui-radio"><input name="radio1" type="radio" value="option1" ><span>Por Media</span></label>
                        <label class="ui-radio"><input name="radio1" type="radio" value="option2" ><span>Por Gols</span></label>
                        <label class="ui-radio"><input name="radio1" type="radio" value="option3" checked><span>Aleatorio</span></label>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon rounded bg-success">
						<span class="fa" ><img src="/images/gols_LEa_6.ico" alt="Smiley face" height="100%" width="100%" ></span>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{iQuantGols}} <span class="size-h4">Gols</span></p>
                    <p class="text-muted"><span data-translate="growth"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon rounded bg-info">
						<i class="fa fa-address-card"></i>
						</span>
                <div class="box-info">
                    <p class="size-h2">{{fMedia}} <span class="size-h4">%</span></p>
                    <p class="text-muted"><span data-translate="new users"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div data-ui-footer></div>
</div>

<script>
    $(document).ready(function() {
        $("#nav-container").removeClass("hide");
        $("#header").removeClass("hide");
    });
</script>