<div class="container">
    <div class="col-md-12" ng-controller="RegisterController as rc">
        <h2>Novo Usuario</h2>
        <div ng-show="rc.error" class="alert alert-danger">{{rc.error}}</div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong></strong></div>
            <div class="panel-body" data-ng-controller="SignUpController">
                <form name="form_signup" class="form-horizontal form-validation" data-ng-submit="rc.submitForms()">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="">Nome *</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="" data-ng-model="rc.user.nome" required data-ng-minlength="2" data-ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="">Email *</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" data-ng-model="rc.user.email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="">Senha *</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" placeholder="no Minimo 6 caracteres" data-ng-model="rc.user.password" required data-ng-minlength="6">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label>
                                <input type="checkbox" data-ng-model="rc.user.isGoleiro"> Você e Goleiro?
                            </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default btn-block btn-lg" data-ng-disabled="!rc.canSubmit()">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>