<style>
    .chat {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }
    
    .chat li.left .chat-body {
        margin-left: 60px;
    }
    
    .chat li.left {
        margin-left: 22%!Important;
    }
    
    .chat li.right .chat-body {
        margin-right: 60px;
    }
    
    .chat li .chat-body p {
        margin: 0;
        color: #777777;
    }
    
    .panel .slidedown .glyphicon,
    .chat .glyphicon {
        margin-right: 5px;
    }
    
    .panel-body {
        overflow-y: scroll;
        height: 250px;
    }
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    
     ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
     ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
    
    .chatss .panel-primary>.panel-heading {
        background-color: #0CA84F !Important;
    }
</style>
<div class="page" data-ng-controller="ModalDemoController">
    <script type="text/ng-template" id="myModalContent4.html">
        <div class="modal-header">
            <div class="col-md-11">
                <h3 class="modal-title" id="modal-title">este</h3>
            </div>
            <div class="col-md-1"> <span class="pull-right"><button type="button" ng-click="cancel()">&times;</button></span></div>
        </div>
        <div class="modal-body" id="modal-body">
            <section class="table-flip-scroll">
                <table class="table table-bordered table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th class="numeric">Gols</th>
                            <th class="numeric">Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="receiver in items.jogo.userJogoData">
                            <td><span>{{receiver.usuario.nome}}</span></td>
                            <td><span>{{receiver.usuario.email}}</span></td>
                            <td class="numeric"><input type="text" ng-model="receiver.qntGols"></td>
                            <td class="numeric"><input type="text" ng-model="receiver.nota"></td>

                        </tr>

                    </tbody>
                </table>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="gravarGols(items.jogo)">Confirmar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
        </div>
    </script>

    <script type="text/ng-template" class="my-modal-popup" id="myModalContent5.html" style="width: 10px; max-width: 20px; min-width: 5px;">
        <div class="modal-header">
            <div class="col-md-11">
                <h3 class="modal-title" id="modal-title">{{items.jogo.nome}}</h3>
            </div>
            <div class="col-md-1"> <span class="pull-right"><button type="button" ng-click="cancel()">&times;</button></span></div>
        </div>
        <div class="modal-body" id="modal-body">
            <section class="table-flip-scroll">
                <table class="table table-bordered table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th class="numeric">Nota</th>
                            <th class="numeric">Gols</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="receiver in items.jogo.userJogoData">
                            <td><span>{{receiver.usuario.nome}}</span></td>
                            <td><span>{{receiver.usuario.email}}</span></td>
                            <td class="numeric"><input type="text" ng-model="receiver.nota"></td>
                            <td class="numeric"><input type="text" ng-model="receiver.qntGols"></td>
                        </tr>

                    </tbody>
                </table>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="gravarNotas(items.jogo)">Gravar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Fechar</button>
        </div>
    </script>


    <div class="page page-dashboard">

        <!------ Include the above in your HEAD tag ---------->

        <div class="container chatss" data-ng-controller="ChatController">
            <div class="row" ng-repeat="chatJogo in chat  | orderBy:'jogoId'">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <span class="glyphicon glyphicon-comment"></span> Chat {{chatJogo.id}}
                            <div class="btn-group pull-right">
                                <a class="btn btn-default btn-xs" data-toggle="collapse" data-target="#collapseOne{{chatJogo.id}}" data-parent="#menu" href="javascript:void(0)">
                                    <!--    <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#collapseOne" href="javascript:void(0)" data-parent="#menu">-->
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="collapseOne{{chatJogo.id}}">
                            <div class="panel-body">
                                <ul class="chat" ng-repeat="chatItens in chatJogo.chatItens  | orderBy:'dataMessagem'">

                                    <li class="{{validarUser(chatItens)}} clearfix col-md-9"><span class="chat-img pull-{{validarUser(chatItens)}}"> <img
											src="http://placehold.it/50/FA6F57/fff&text=ME"
											alt="User Avatar" class="img-circle" />
									</span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span
													class="glyphicon glyphicon-time"></span>13 mins ago</small> <strong class="pull-{{validarUser(chatItens)}} primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>{{chatItens.texto}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." /> <span class="input-group-btn">
										<button class="btn btn-warning btn-sm" id="btn-chat">
											Send</button>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div data-ui-footer></div>
    </div>
    <script>
        $(document).ready(function() {
            $("#nav-container").removeClass("hide");
            $("#header").removeClass("hide");
        });
    </script>