<style>
    .chat-window {
        bottom: 0;
        position: fixed;
        float: right;
        margin-left: 10px;
    }
    
    .chat-window>div>.panel {
        border-radius: 5px 5px 0 0;
    }
    
    .icon_minim {
        padding: 2px 10px;
    }
    
    .msg_container_base {
        background: #e5e5e5;
        margin: 0;
        padding: 0 10px 10px;
        max-height: 300px;
        overflow-x: hidden;
    }
    
    .top-bar {
        background: #666;
        color: white;
        padding: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .msg_receive {
        padding-left: 0;
        margin-left: 0;
    }
    
    .msg_sent {
        padding-bottom: 20px !important;
        margin-right: 0;
    }
    
    .messages {
        background: white;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        max-width: 100%;
    }
    
    .messages>p {
        font-size: 13px;
        margin: 0 0 0.2rem 0;
    }
    
    .messages>time {
        font-size: 11px;
        color: #ccc;
    }
    
    .msg_container {
        padding: 10px;
        overflow: hidden;
        display: flex;
    }
    
    img {
        display: block;
        width: 100%;
    }
    
    .avatar {
        position: relative;
    }
    
    .base_receive>.avatar:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 5px solid #FFF;
        border-left-color: rgba(0, 0, 0, 0);
        border-bottom-color: rgba(0, 0, 0, 0);
    }
    
    .base_sent {
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .base_sent>.avatar:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-right-color: transparent;
        border-top-color: transparent;
        box-shadow: 1px 1px 2px rgba(black, 0.2);
        //
        not quite perfect but close
    }
    
    .msg_sent>time {
        float: right;
    }
    
    .msg_container_base::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    
    .msg_container_base::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    .msg_container_base::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
    
    .btn-group.dropup {
        position: fixed;
        left: 0px;
        bottom: 0;
    }
    
    .fix-to-top {
    position: fixed;
    top: 55px;
    height: 50px;
    z-index: 999;
    width: 100%;
}
</style>
<div class="page page-dashboard">
    <div class="container chatss" data-ng-controller="ChatController">
    	<span class="hide {{classe}} id="teste123"></span>
        <div class="row" ng-repeat="chatJogo in chat  | orderBy:'-jogoId'">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Chat {{chatJogo.id}} {{chatJogo.jogo.dia}} - {{chatJogo.jogo.horaInicial}} as {{chatJogo.jogo.horaFinal}} * {{chatJogo.jogo.id}}
                        <div class="btn-group pull-right">
                            <a class="btn btn-default btn-xs" data-toggle="collapse" data-target="#collapseOne{{chatJogo.id}}" data-parent="#menu" href="javascript:void(0)">
                                <!--    <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#collapseOne" href="javascript:void(0)" data-parent="#menu">-->
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne{{chatJogo.id}}">
                        <div class="panel-body">
                            <div class="panel-body msg_container_base scrollTop" set-class-when-at-top="fix-to-top"  ng-init="funcao2(chatJogo.chatItens)" id="appends{{chatJogo.id}}">
                               <div  ng-repeat="chatItens in mensagens  | orderBy:'dataMessagem'" ng-init="scrollToTop()">
                                <div class="row msg_container base_sent" ng-if="validarUser(chatItens) == true">
                                    <div class="col-md-10 col-xs-8">
                                        <div class="messages msg_sent">
                                            <time>{{chatItens.usuario.email}}</time>
                                            <p>{{chatItens.texto}}</p>
                                            <time datetime="2009-11-13T20:00">{{chatItens.dataMessagem | date:"dd/MM/yyyy hh:mm:ss"}}</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-4 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_receive" ng-if="validarUser(chatItens) == false">
                                    <div class="col-md-2 col-xs-4 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-5.jpg" class=" img-responsive ">
                                    </div>
                                    <div class="col-md-10 col-xs-8">
                                        <div class="messages msg_receive">
                                            <time>{{chatItens.usuario.email}}</time>
                                            <p>{{chatItens.texto}}</p>
                                            <time datetime="2009-11-13T20:00">{{chatItens.dataMessagem
												| date:"dd/MM/yyyy hh:mm:ss"}}</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" ng-model="msg" class="form-control input-sm" placeholder="Escreva a menssagem aqui" /> <span class="input-group-btn">
										<button class="btn btn-warning btn-sm" id=" "
											ng-click="enviarMessage(chatJogo, msg)">Enviar</button>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</div>
 </div>
<script>
        $(document).ready(function() {
            $("#nav-container").removeClass("hide");
            $("#header").removeClass("hide");
          //  $('.scrollTop').animate({scrollTop: $('.scrollTop')[0].scrollHeight}, 500);
        });
    </script>
