<style>
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.glyphicon-icons .glyphicon, .glyphicon-icons li.grid-icon>.glyphicon:before {
    content: ""!important;
}
.glyphicon-icons .glyphicon, .glyphicon-icons li.grid-icon>.fa {
    font-size: 42px;
    display: block;
    text-align: center;
    margin: 10px auto 20px auto;
    color: #000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;

    margin: 2rem 0;
    overflow: hidden;

    line-height: 1.4;
    background-color: rgba(0,0,0,.05);

}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.glyphicon-icons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    margin: 0 auto;
    max-width: 1170px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
	/* Hiding the checkbox, but allowing it to be focused */
	.badgebox {
	opacity: 0;
	}
	.badgebox + .badge {
	/* Move the check mark away when unchecked */
	text-indent: -999999px;
	/* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
	}
	.badgebox:focus + .badge {
	/* Set something to make the badge looks focused */
	/* This really depends on the application, in my case it was: */
	/* Adding a light border */
	box-shadow: inset 0px 0px 5px;
	/* Taking the difference out of the padding */
	}
	.badgebox:checked + .badge {
	/* Move the check mark back when checked */
	text-indent: 0;
	}
</style>
<div class="page page-dashboard">
 	
 	
 	<div class="container-wide">
     <div class="container-fluid text-center">
            <!--Adsense -->

            <script async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Glyphicons 1st -->
<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-8168184751026221" data-ad-slot="9009612991"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
     </div>  
        
            <ul class="glyphicon-icons" style="max-width: 100%;" data-ng-controller="NavController"> 
            <div class="row" id="first-row"><div class="container">
            
            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-asterisk" data-unicode="2a">*</i> 
                <span class="glyphicon-class">Meus Jogos</span></a>

            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"><a href="#/buscaQuadra"> 
                <i class="glyphicon glyphicon-glyphicon-plus" data-unicode="2b">+</i> 
                <span class="glyphicon-class">Busca Quadra</span></a>
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/notificacoes">
                <i class="glyphicon glyphicon-glyphicon-eur" data-unicode="20ac">€</i> <span class="badge badge-success text-right">{{notificacoesCount}}</span>
                <span class="glyphicon-class">Notificações </span></a>
                
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"><a href="#/buscaQuadra3"> 
                <i class="glyphicon glyphicon-glyphicon-euro" data-unicode="20ac">€</i> 
                <span class="glyphicon-class">Escolher Time</span></a>
                
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/buscaQuadra3">
                <i class="glyphicon glyphicon-glyphicon-minus" data-unicode="2212">−</i> 
                <span class="glyphicon-class">Convidar um Amigo</span></a>
                
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-cloud" data-unicode="2601">☁</i> 
                <span class="glyphicon-class">Configurações</span></a>

            </li> </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-th" data-unicode="e011"></i> 
                <span class="glyphicon-class">Chat</span></a>
                
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> 
                <i class="glyphicon glyphicon-glyphicon-th-list" data-unicode="e012"></i> 
                <span class="glyphicon-class">Sair</span></a>
                
            </li></div></div>
            
            
            
            
            
            
            
            
            
            <div class="row row-alt"><div class="container">
            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui">
                <i class="glyphicon glyphicon-glyphicon-search" data-unicode="e003"></i> 
                <span class="glyphicon-class">UI Kit</span></a>
                
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-heart" data-unicode="e005"></i> 
                <span class="glyphicon-class">Tables</span></a>
                
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-star" data-unicode="e006"></i> 
                <span class="glyphicon-class">Forms</span></a>

            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-star-empty" data-unicode="e007"></i> 
                <span class="glyphicon-class">Chats</span> </a>

            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/tasks/tasks">
                <i class="glyphicon glyphicon-glyphicon-user" data-unicode="e008"></i> <span class="badge badge-danger main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
                <span class="glyphicon-class">Tasks</span></a>

            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/mail/inbox">
                <i class="glyphicon glyphicon-glyphicon-film" data-unicode="e009"></i> 
                <span class="glyphicon-class">Mail</span></a>
                
            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-th-large" data-unicode="e010"></i> 
                <span class="glyphicon-class">Applications</span></a>

            </li><li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/dashboard">
                <i class="glyphicon glyphicon-glyphicon-th" data-unicode="e011"></i> 
                <span class="glyphicon-class">Pages</span></a>
                
            </li></div></div>
            
            <div class="row" id="third-row"><div class="container">
            
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/tables/static">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">static tables</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/tables/responsive">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">responsive tables</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/tables/dynamic">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">dynamic tables</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/forms/layouts">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">form layouts</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/forms/elements">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">form elements</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/forms/validation">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">form validation</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/charts/chartjs">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">Chart.js</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/charts/echarts">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">ECharts</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/mail/compose">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">compose</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/mail/single">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">single mail</span></a>
	            </li>
	            
            </div>
            </div>
            <div class="row" id="sixth-row"><div class="container">
            
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/buttons">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">buttons</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/typography">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">typography</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/widgets">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">widgets</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/grids">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">grids</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/icons">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">icons</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/components">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">components</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/timeline">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">timeline</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/tree">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">tree</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/pricing-tables">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">pricing tables</span></a>
	            </li>
	            <li class="col-md-1 col-sm-2 col-xs-6 grid-icon"> <a href="#/ui/maps">
	                <i class="glyphicon glyphicon-glyphicon-remove" data-unicode="e014"></i> 
	                <span class="glyphicon-class">maps</span></a>
	            </li>
	            
            </div>
            </div>
            
            
       <div class="container-wide text-center ad-break"><script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- Glyphicons 2nd --><ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-8168184751026221" data-ad-slot="1486346194"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>
     
       
            
            </ul> 

      </div>
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
    <div id="menu"   ng-controller="HorarioController as hor" >
        <div class="panel list-group">

            <a class="list-group-item" data-toggle="collapse" data-target="#sl1" data-parent="#menu">Filtros <span class="glyphicon glyphicon-list pull-right"></span></a>
            <div id="sl1" class="sublinks " style="border: 1px solid rgb(221, 221, 221)">
                <div id="buscarQuadra-container3" class="creator-container" style="margin-top:1%;margin-left:1%;">
                    <label for="Dom" class="btn btn-danger">Dom<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender0" id="defaults" checked="checked" value="DOMINGO" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Seg" class="btn btn-info">Seg<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"   checked="checked"  value="SEGUNDA" id="default" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Ter" class="btn btn-info">Ter<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"   checked="checked" value="TERCA" id="primary" class="badgebox" ng-true-value="'TERCA'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Qua" class="btn btn-info">Qua<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"   checked="checked" value="QUARTA" id="info" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Qui" class="btn btn-info">Qui<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender4"   checked="checked" value="QUINTA" id="success" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Sex" class="btn btn-info">Sex<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender5"   checked="checked" value="SEXTA" id="warning" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Sab" class="btn btn-warning">Sab<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender6" checked="checked" value="SABADO" id="danger" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>  
                </div>
                <div id="buscarStatus-container3" class="creator-container"  style="margin-top:1%;margin-left:1%;margin-bottom:1%;">
                    <label for="Disponivel"   class="btn btn-info">Disponivel   <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender0"    value="DISPONIVEL"   class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                    <label for="Confirmar"    class="btn btn-info">A Confirmar  <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"    value="ACONFIRMAR"    class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                    <label for="Ocupado"      class="btn btn-info">Ocupado      <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"    value="OCUPADO"      class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                    <label for="Indisponivel" class="btn btn-info">Indisponivel <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"    value="INDISPONIVEL" class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                                  
                </div>
            </div>
            
           </div>
           
        <div ng-repeat="quadra in hor.horarioList.quadras | orderBy:'nome'">
    <div ng-repeat="jogo in quadra.jogos | priceGreaterThan:'DOMINGO' | filterStatus:'DOMINGO' | orderBy:'status' | orderBy:'dia' | orderBy:'horaInicial'">
      <div class="panel list-group">
       <a class="list-group-item" data-toggle="collapse" data-target="#sm{{jogo.id}}" data-parent="#menu"><span class="glyphicon glyphicon-list"></span><span class="pull-center"> {{quadra.nome}}   -  {{jogo.dia}} - {{jogo.horaInicial}} - {{jogo.horaFinal}} </span>  
        <span class="pull-right">
          <span ng-if="jogo.status=='INDISPONIVEL'" style="font-size:8px" class="label label-danger"> * Reservado</span>
          <span ng-if="jogo.status=='ACONFIRMAR'"  style="font-size:8px" class="label label-warning"> * A Confirmar</span>
          <span ng-if="jogo.status=='DISPONIVEL'" style="font-size:8px"  class="label label-success"> * Disponivel</span>
          <span ng-if="jogo.status=='OCUPADO'" style="font-size:8px" class="label label-danger"> * Reservado</span>
          <span ng-if="jogo.status=='CONFIRMAR'"  style="font-size:8px" class="label label-info"> * Confirmar</span>
         
          </span></a>
       <div id="sm{{jogo.id}}" class="sublinks collapse">
        <a class="list-group-item small">{{jogo.descricao}}</a>
        </div>
       <a class="list-group-item" data-toggle="collapse" data-target="#s{{jogo.id}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">{{jogo.usersJogo.length}}</span></a>
       <div id="s{{jogo.id}}" class="sublinks collapse">
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>
       </div>
       <a  class="list-group-item">AÇÕES
         <span class="pull-right">
         <button ng-click="gravarHorario(jogo, 'EXCLUIR')" class="btn btn-xs btn-warning glyphicon glyphicon-trash"      uib-tooltip="Excluir Horario!" tooltip-append-to-body="true" ></button><!-- Excluir-->
         <button ng-if="jogo.status=='INDISPONIVEL'" ng-click="gravarHorario(jogo, 'DESMARCAR')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"   uib-tooltip="Desmarcar!" tooltip-append-to-body="true"></button><!-- Desmarcar -->
         <button ng-if="jogo.status=='ACONFIRMAR'"    ng-click="gravarHorario(jogo, 'INDISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Aprovar!"   tooltip-append-to-body="true"></button><!-- Aprovar -->
         <button ng-if="jogo.status=='CONFIRMAR'"    ng-click="gravarHorario(jogo, 'DISPONIVEL')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"  uib-tooltip="Recusar!"   tooltip-append-to-body="true"></button><!-- nao aprovar -->
         <button ng-if="jogo.status=='OCUPADO'"      ng-click="gravarHorario(jogo, 'DISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"      uib-tooltip="Disponibilizar!" tooltip-append-to-body="true"></button><!-- tornar disponivel -->
         <button ng-if="jogo.status=='DISPONIVEL'"   ng-click="gravarHorario(jogo, 'OCUPADO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"     uib-tooltip="Ocupar!" tooltip-append-to-body="true"></button><!-- marcar como ocupado -->
         <button ng-if="jogo.status=='DISPONIVEL'"   ng-click="gravarHorario(jogo, 'INDISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Marcar Horario!" tooltip-append-to-body="true"></button><!-- Aprovar -->
         
        </span>
      </a>
      </div>
      </div>
      </div>
    </div>
	<div data-ui-footer></div>		
</div>
<script>
$( document ).ready(function() {
	$("#nav-container").removeClass("hide");
	$("#header").removeClass("hide");
});
</script>
  