<style>
    /* Hiding the checkbox, but allowing it to be focused */
    
    .badgebox {
        opacity: 0;
    }
    
    .badgebox+.badge {
        /* Move the check mark away when unchecked */
        text-indent: -999999px;
        /* Makes the badge's width stay the same checked and unchecked */
        width: 27px;
    }
    
    .badgebox:focus+.badge {
        /* Set something to make the badge looks focused */
        /* This really depends on the application, in my case it was: */
        /* Adding a light border */
        box-shadow: inset 0px 0px 5px;
        /* Taking the difference out of the padding */
    }
    
    .badgebox:checked+.badge {
        /* Move the check mark back when checked */
        text-indent: 0;
    }
</style>
<div class="page" data-ng-controller="ModalDemoController">
    <script type="text/ng-template" id="myModalContent4.html">
        <div class="modal-header">
            <div class="col-md-11">
                <h3 class="modal-title" id="modal-title">este</h3>
            </div>
            <div class="col-md-1"> <span class="pull-right"><button type="button" ng-click="cancel()">&times;</button></span></div>
        </div>
        <div class="modal-body" id="modal-body">
                <section class="table-flip-scroll">
                    <table class="table table-bordered table-striped cf">
                        <thead class="cf">
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th class="numeric">Gols</th>
                                <th class="numeric">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="receiver in items.jogo.userJogoData">
                                <td><span>{{receiver.usuario.nome}}</span></td>
                            	<td><span>{{receiver.usuario.email}}</span></td>
                            	<td class="numeric"><input type="text" ng-model="receiver.qntGols"></td>
                                <td class="numeric"><input type="text" ng-model="receiver.nota"></td>

                            </tr>
                            
                        </tbody>
                    </table>
                </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="gravarGols(items.jogo)">Confirmar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
        </div>
    </script>

    <script type="text/ng-template" class="my-modal-popup" id="myModalContent5.html" style="width: 10px; max-width: 20px; min-width: 5px; ">
        <div class="modal-header">
            <div class="col-md-11">
                <h3 class="modal-title" id="modal-title">{{items.jogo.nome}}</h3>
            </div>
            <div class="col-md-1"> <span class="pull-right"><button type="button" ng-click="cancel()">&times;</button></span></div>
        </div>
        <div class="modal-body" id="modal-body">
                <section class="table-flip-scroll">
                    <table class="table table-bordered table-striped cf">
                        <thead class="cf">
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th class="numeric">Nota</th>
                                <th class="numeric">Gols</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="receiver in items.jogo.userJogoData">
                                <td><span>{{receiver.usuario.nome}}</span></td>
                            	<td><span>{{receiver.usuario.email}}</span></td>
                            	<td class="numeric"><input type="text" ng-model="receiver.nota"></td>
                                <td class="numeric"><input type="text" ng-model="receiver.qntGols"></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </section>
        </div>
        <div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="gravarNotas(items.jogo)">Gravar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Fechar</button>
        </div>
    </script>


    <div class="page page-dashboard">


        <div data-ng-controller="MeusJogosDetailsController  as ec">
            <!-- Stats -->
            <div class="row text-center">
                <div class="col-lg-3 col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-success">
									<span class="fa" ><img src="/images/gols_LEa_6.ico" alt="Smiley face" height="100%" width="100%" ></span>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{iQuantGols}} <span class="size-h4">Gols</span></p>
                            <p class="text-muted"><span data-translate="growth"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-info">
									<i class="fa fa-address-card"></i>
									</span>
                        <div class="box-info">
                            <p class="size-h2">{{fMedia}} <span class="size-h4">%</span></p>
                            <p class="text-muted"><span data-translate="new users"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
				<div ng-show="showAprovar()" >
	                <a class="list-group-item" data-toggle="collapse" data-target="#sl1dfff" data-parent="#menu"><span class="glyphicon glyphicon-resize-vertical"></span>Aprovar/Recusar Jogador <span class="glyphicon glyphicon-list pull-right"></span></a>
	                <div id="sl1dfff" class="sublinks collapse" style="border: 1px solid rgb(221, 221, 221)">
	                    <div id="menu">
	
	                        <div class="panel list-group">
	                                <a class="list-group-item" data-toggle="collapse" data-target="#sm{{jogo.id-$index}}" data-parent="#menu" style="cursor:pointer"><span class="glyphicon glyphicon-home"></span> K10 SPORTS QUADRA-1 {{jogo.id}} </a>
	                                <div>
	                                    <a class="list-group-item" ng-repeat="jogoData in jogo.usersJogo | orderBy:'-id'" ng-if="jogoData.status_user == 'SOLICITADO'"><span class="glyphicon glyphicon-user"></span>
												<span> {{jogoData.usuario.nome}} ({{jogoData.usuario.email}}) </span>
												<span class="pull-right">
													<button ng-click="aprovarJogador(jogoData, 'CONFIRMADO')" class="btn btn-xs btn-success glyphicon glyphicon-ok"       uib-tooltip="Aprovar P/ Todos os Jogos!"   tooltip-append-to-body="true"></button><!-- Aprovar -->
													<button ng-click="aprovarJogador(jogoData, 'RECUSADO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"     uib-tooltip="Aprovar Apenas proximo Jogo!"   tooltip-append-to-body="true"></button><!-- Desmarcar -->
													<button ng-click="aprovarJogador(jogoData, 'RECUSADO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"     uib-tooltip="Resusar!"   tooltip-append-to-body="true"></button><!-- Desmarcar -->
												</span>
											</a>
	                                </div>
	                                <div>
	                                    <a class="list-group-item">
	                                        <span>{{jogoData.data | date:"dd/MM/yy"}}</span>
	                                    </a>
	                                </div>
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
            </br>
            <div>
            	<div ng-show="showConfirmar()" >
	                <a class="list-group-item" data-toggle="collapse" data-target="#sl1fff" data-parent="#menu"><span class="glyphicon glyphicon-resize-vertical"></span>Meus Jogos para confirmar <span class="glyphicon glyphicon-list pull-right"></span></a>
	                <div id="sl1fff" class="sublinks collapse" style="border: 1px solid rgb(221, 221, 221)">
	                    <div id="menu">
	                        <div class="panel list-group">
	     
	                                <div class="well" ng-repeat="jogoData in jogos.jogoPorData | filter : myFilter3   | orderBy:'-data'">
	                                    <a class="list-group-item" data-toggle="collapse" data-target="#sm10{{jogo.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-home"></span> K10 SPORTS QUADRA-1 <span>{{jogoData.data | date:"dd/MM/yy"}} - {{jogo.dia}}  {{jogo.horaInicial}} {{jogo.horaFinal}}.</span></a>
	                                    <div id="sm10{{jogo.id-$index}}" class="sublinks collapse">
	                                        <a class="list-group-item small"> {{jogoData.status}}.</a>
	                                    </div>
	                                    <a class="list-group-item" data-toggle="collapse" data-target="#ss{{jogoData.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">{{jogos.usersJogo.length}}</span></a>
	                                    <div id="ss{{jogoData.id-$index}}" class="sublinks collapse">
	                                        <div ng-repeat="user in jogoData.userJogoData">
	                                            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> {{user.usuario.name}} {{user.usuario.lastName}}<span class="pull-right fa">
															<img ng-show="fnConfirm(jogoData.userConfirm, user ) === 1" src="/../images/hold.png" uib-tooltip="Sem Resposta!" tooltip-append-to-body="true" height="20px" width="20px" >
															<img ng-show="fnConfirm(jogoData.userConfirm, user ) === 2" src="/../images/dislike2.png" uib-tooltip="Não Vo!" tooltip-append-to-body="true" height="20px" width="20px" >
															<img ng-show="fnConfirm(jogoData.userConfirm, user ) === 3" src="/../images/like.png" uib-tooltip="Estarei lá¡!" tooltip-append-to-body="true" height="20px" width="20px" ></span>
															</a>
	                                        </div>
	                                    </div>
	                                    <a class="list-group-item">
														Ações 
														<span class="pull-right">
															<button ng-click="gravarHorario(jogoData, 'CONFIRMADO')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Confirmar!"   tooltip-append-to-body="true"></button><!-- Aprovar -->
															<button ng-click="gravarHorario(jogoData, 'NAOVO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"   uib-tooltip="Não Vai dar!"    tooltip-append-to-body="true"></button><!-- Desmarcar -->
														</span>
													</a>
	                                </div>
	                        
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
            </br>
            <div>
                <a class="list-group-item" data-toggle="collapse" data-target="#sl1fffs" data-parent="#menu"><span class="glyphicon glyphicon-resize-vertical"></span>Meus Jogos <span class="glyphicon glyphicon-list pull-right"></span></a>
                <div id="sl1fffs" class="sublinks collapse" style="border: 1px solid rgb(221, 221, 221)">
                    <div id="menu">
                        <div class="panel list-group">
                                <div class="well" ng-repeat="jogoData in jogos.jogoPorData  | orderBy:'-data'">
                                    <a class="list-group-item" data-toggle="collapse" data-target="#sm{{jogo.id-$index}}" data-parent="#menu" style="cursor:pointer"><span class="glyphicon glyphicon-home"></span> K10 SPORTS QUADRA-1 
                            <span class="pull-right">
							<button ng-if="jogoData.status=='JAJOGADO' && jogoData.userJogoData.length > 0"
							ng-click="openDarNotas(jogoData)"
							class="btn btn-xs btn-default"
							uib-tooltip="Anotar Gols/Dar Nota" tooltip-append-to-body="true" style="width: 100px!Important;">Gols/Nota</button></span></a>
                                    <a class="list-group-item" data-toggle="collapse" data-target="#sds{{jogoData.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">{{jogoData.userJogoData.length}}</span></a>
                                    <div id="sds{{jogoData.id-$index}}" class="sublinks collapse">
                                        <div ng-repeat="user in jogoData.userJogoData">
                                            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> {{user.usuario.nome}} ({{user.usuario.email}}) <span class="pull-center">   Nota : {{user.nota}}  -  Gols : {{user.qntGols}}</span> <span class="pull-right fa">
														<img ng-show="fnConfirm(jogo, user ) === 1" src="/images/hold.png" uib-tooltip="Sem Resposta!" tooltip-append-to-body="true" height="20px" width="20px" >
														<img ng-show="fnConfirm(jogo, user ) === 2" src="/images/dislike2.png" uib-tooltip="Não Vo!" tooltip-append-to-body="true" height="20px" width="20px" >
														<img ng-show="fnConfirm(jogo, user ) === 3" src="/images/like.png" uib-tooltip="Estarei lá¡!" tooltip-append-to-body="true" height="20px" width="20px" ></span>
														</a>
                                        </div>
                                    </div>
                                    <a class="list-group-item"> {{jogoData.status}} -  <span>{{jogoData.data | date:"dd/MM/yy HH:mm"}} até {{jogoData.dataFinal | date:"HH:mm"}}</span>. <span class="pull-right"></span></a>
                                </div>
        
                        </div>
                    </div>
                </div>
            </div>
            </br>
            <!-- end stats -->
            <hr>
            <div class="row" style="width:100%;">
                <div class="panel panel-default panel-minimal" style="width:100%;">
                    <div class="divider divider-md"></div>
                    <div class="panel-heading">Gols/Notas</div>
                    <div class="panel-body" style="width:100%;">
                        <div data-echarts data-options="ec.combo.options" style="height: 350px;width:100%;"></div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>


    <div data-ui-footer></div>
</div>
<script>
    $(document).ready(function() {
        $("#nav-container").removeClass("hide");
        $("#header").removeClass("hide");
    });
</script>