<div id="buscarQuadra-container3" class="creator-container"
	style="margin-top: 1%; margin-left: 1%;">
	<label for="Dom" class="btn btn-danger">Dom<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender0"
		id="defaults" checked="checked" value="DOMINGO" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Seg" class="btn btn-info">Seg<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"
		checked="checked" value="SEGUNDA" id="default" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Ter" class="btn btn-info">Ter<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"
		checked="checked" value="TERCA" id="primary" class="badgebox"
		ng-true-value="'TERCA'" ng-false-value="'2'"><span
		class="badge">&check;</span></label> <label for="Qua" class="btn btn-info">Qua<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"
		checked="checked" value="QUARTA" id="info" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Qui" class="btn btn-info">Qui<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender4"
		checked="checked" value="QUINTA" id="success" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Sex" class="btn btn-info">Sex<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender5"
		checked="checked" value="SEXTA" id="warning" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Sab" class="btn btn-warning">Sab<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender6"
		checked="checked" value="SABADO" id="danger" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
</div>
<div id="buscarStatus-container3" class="creator-container"
	style="margin-top: 1%; margin-left: 1%; margin-bottom: 1%;">
	<label for="Dom" class="btn btn-info">DISPONIVEL<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender0"
		id="defaults" value="DISPONIVEL" checked="checked" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Seg" class="btn btn-info">ACONFIRMAR<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"
		value="ACONFIRMAR" id="default" checked="checked" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Ter" class="btn btn-info">OCUPADO<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"
		value="OCUPADO" id="primary" class="badgebox" checked="checked"><span
		class="badge">&check;</span></label> <label for="Qua" class="btn btn-info">INDISPONIVEL<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"
		value="INDISPONIVEL" id="info" class="badgebox" checked="checked"><span
		class="badge">&check;</span></label>
</div>


</div>