<div id="buscarQuadra-container3" class="creator-container"
	style="margin-top: 1%; margin-left: 1%;">
	<label for="Dom1" class="btn btn-danger">Dom<input
		ng-click="orderByMe('DOMINGO')" type="checkbox" name="gender11"
		id="Dom1" checked="checked" value="DOMINGO" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Seg1" class="btn btn-info">Seg<input
		ng-click="orderByMe('SEGUNDA')" type="checkbox" name="gender12"
		checked="checked" value="SEGUNDA" id="Seg1" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Ter1" class="btn btn-info">Ter<input
		ng-click="orderByMe('TERCA')" type="checkbox" name="gender13"
		checked="checked" value="TERCA" id="Ter1" class="badgebox"
		ng-true-value="'TERCA'" ng-false-value="'2'"><span
		class="badge">&check;</span></label> 
	<label for="Qua1" class="btn btn-info">Qua<input
		ng-click="orderByMe('QUARTA')" type="checkbox" name="gender14"
		checked="checked" value="QUARTA" id="Qua1" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Qui1" class="btn btn-info">Qui<input
		ng-click="orderByMe('QUINTA')" type="checkbox" name="gender15"
		checked="checked" value="QUINTA" id="Qui1" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Sex1" class="btn btn-info">Sex<input
		ng-click="orderByMe('SEXTA')" type="checkbox" name="gender16"
		checked="checked" value="SEXTA" id="Sex1" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="Sab1" class="btn btn-warning">Sab<input
		ng-click="orderByMe('SABADO')" type="checkbox" name="gender17"
		checked="checked" value="SABADO" id="Sab1" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
</div>
<div id="buscarStatus-container3" class="creator-container"
	style="margin-top: 1%; margin-left: 1%; margin-bottom: 1%;">
	<label for="DISPONIVEL1" class="btn btn-info">DISPONIVEL<input
		ng-click="orderByMe('DISPONIVEL')" type="checkbox" name="gender18"
		id="DISPONIVEL1" value="DISPONIVEL" checked="checked" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="ACONFIRMAR1" class="btn btn-info">ACONFIRMAR<input
		ng-click="orderByMe('ACONFIRMAR')" type="checkbox" name="gender19"
		value="ACONFIRMAR" id="ACONFIRMAR1" checked="checked" class="badgebox"
		ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
	<label for="OCUPADO1" class="btn btn-info">OCUPADO<input
		ng-click="orderByMe('OCUPADO')" type="checkbox" name="gender20"
		value="OCUPADO" id="OCUPADO1" class="badgebox" checked="checked"><span
		class="badge">&check;</span></label>
		 <label for="INDISPONIVEL1" class="btn btn-info">INDISPONIVEL<input
		ng-click="orderByMe('INDISPONIVEL')" type="checkbox" name="gender21"
		value="INDISPONIVEL" id="INDISPONIVEL1" class="badgebox" checked="checked"><span
		class="badge">&check;</span></label>
</div>