<div class="panel-body">
	<div class="rate-review-box review-box col-md-12">
		<div class="overall-box col-md-4 pull-left" style="margin-bottom:3%;">
			<span>10.0</span>
			<div class="rating_stars ">
				<i class="icon-star fa fa-star icon_on"></i>
				<i class="icon-star fa fa-star icon_on"></i>
				<i class="icon-star fa fa-star icon_on"></i>
				<i class="icon-star fa fa-star icon_on"></i>
				<i class="icon-star fa fa-star icon_on"></i>
			</div>
			<div class="count-reviews">(30 avaliações)</div>
		</div>
		<div style="width:50px;"></div>
		<div class="rating col-md-8 pull-right">
			<div class="rating_bars" style="order: 1; font-size: 11px; line-height: normal; width: 100% !Important; margin-top: -10px; content: ''; display: table;">
				<div ng-repeat="avaliacaos in avaliacaoList">
					<div class="rating_bar" title="{{((avaliacaos.divisor*5) / avaliacaos.nota) * 10}}% das avaliações gostaram do {{avaliacaos.nome}}">
						<div class="rating_header">{{avaliacaos.nome}}</div>
						<div><label class="rating_count" style="z-index: 999!Important;color: black!Important;margin-bottom:12px">{{((avaliacaos.divisor*5) / avaliacaos.nota) * 10}}%</label></div>
						<div class="rating_progress progress progress-danger" style="height: 10px !Important; margin-top: -10px !Important;">
							<div class="bar progress-bar" style="width: {{((avaliacaos.divisor*5) / avaliacaos.nota) * 10}}%"></div>
						</div>
					</div>
				</div>
				<!-- <div class="rating_bar" title="6% das avaliações possui 4 estrelas">
					<div class="rating_header">4 estrelas</div>
					<div class="rating_count">(2)</div>
					<div class="rating_progress progress progress-danger" style="height: 10px !Important; margin-top: -10px !Important;">
						<div class="bar progress-bar" style="width: 6%"></div>
					</div>
				</div>
				<div class="rating_bar" title="0% das avaliações possui 3 estrelas">
					<div class="rating_header">3 estrelas</div>
					<div class="rating_count">(0)</div>
					<div class="rating_progress progress progress-danger" style="height: 10px !Important; margin-top: -10px !Important;">
						<div class="bar progress-bar" style="width: 0%"></div>
					</div>
				</div>
				<div class="rating_bar" title="0% das avaliações possui 2 estrelas">
					<div class="rating_header">2 estrelas</div>
					<div class="rating_count">(0)</div>
					<div class="rating_progress progress progress-danger" style="height: 10px !Important; margin-top: -10px !Important;">
						<div class="bar progress-bar" style="width: 0%"></div>
					</div>
				</div>
				<div class="rating_bar" title="0% das avaliações possui 1 estrela">
					<div class="rating_header">1 estrela</div>
					<div class="rating_count">(0)</div>
					<div class="rating_progress progress progress-danger" style="height: 10px !Important; margin-top: -10px !Important;">
						<div class="bar progress-bar" style="width: 0%"></div>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<div style="border: 1px">
		<div class="top-reviews-box">
			<div class="pull-left">
				<div class="gym_rating_left pull-left">
					<img width="50" height="50" src="https://dtda4cv2md3ne.cloudfront.net/image/filename/114631/47450_362732440488114_84347150_n.jpg"
					    alt="47450 362732440488114 84347150 n">
				</div>
				<div class="gym_rating_container pull-left" style="text-align:left;margin-left:5px">
					<p class="gym_rating_author">
						<span itemprop="author"> Leandro G. </span>
					</p>
					<div class="rate-calendar">
						<div class="rating_stars ">
							<i class="icon-star fa fa-star icon_on"></i>
							<i class="icon-star fa fa-star icon_on"></i>
							<i class="icon-star fa fa-star icon_on"></i>
							<i class="icon-star fa fa-star icon_on"></i>
							<i class="icon-star fa fa-star icon_on"></i>
						</div>
						<div class="gym_rating_date">
							<meta itemprop="datePublished" content="2015-09-03"> 03/Set/15
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<p style="text-align:left;">Sem dúvidas, a melhor academia da cidade. TESTE</p>
			</div>
		</div>
	</div>
</div>
<div class="containers">
	<div class="col-md-12">
		<div class="">
			<div class="well well-sm">
				<div class="row" id="post-review-box">
					<div class="col-md-12" data-ng-controller="RatingDemoController">
						<form >
							<input id="ratings-hidden" name="rating" type="hidden">
							<!-- <div class="row" > -->
							<input class="form-control animated" ng-model="create.email" type="email" id="ratings" name="ratings" placeholder="email">
							<!-- </div> -->
							<br>
							<textarea class="form-control animated" ng-model="create.menssagem" cols="50" id="new-review" name="comment" placeholder="mensagem" rows="5"></textarea>
							<br>
							<div class="row" ng-repeat="avaliacao in oEmpresa.avaliacaoOptions">
								<div class="col-md-12">
									<div class="pull-left">
										<label >{{avaliacao.opcao}} :</label>
										<input ng-init="oAvaliacao[$index].opcaoId = avaliacao.id" id="ratings-hidden-{{$index}}" name="rating" type="hidden" >
									</div>
									<div class="pull-right">

										<span id="teste-{{avaliacao.id}}" uib-rating class="ui-rating size-h3" ng-model="oAvaliacao[$index].nota" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"
										    on-leave="overStar = null" state-on="'fa fa-star'"  state-off="'fa fa-star-o'"> </span>
									</div>
								</div>
								<br>
							</div>
							<br>
							<div class="text-right">
								<a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="margin-right: 10px;">
									<span class="glyphicon glyphicon-remove"></span>Cancel
								</a>
								<button class="btn btn-success btn-lg"  type="button" ng-click="addRowToGrid(create)">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>